form(action="/image/import", method="POST")
    input(name="imageUrl", value="http://dribbble.com/system/assets/15/10470/screenshots/588264/credit_card.png?1338747350")
    button(type="submit") Add this image thing