form(action="/image/import", method="POST")
    input(name="imageUrl", value="http://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Niobe050905-Siamese_Cat.jpeg/220px-Niobe050905-Siamese_Cat.jpeg")
    button(type="submit") Add this image thing