h1= title
form(action="/card/create", method="POST")
    .sides
        #card-front.side
            h2 Front
            img.sample-card(src="/images/card.png")
            div
                input(type="file", name="imageFile")

        #card-back.side
            h2 Back
            img.sample-card(src="/images/card.png")
            div
                input(type="file", name="imageFile")

hr

div
    button.create-pack Generate Cards