h1= title

form(action="/pack/create", method="post")
    div
        label Give this pack a friendly name
        input.name(name="friendlyName", placeholder="MyBank Corp")
    div
        button.create-pack Create Pack