h1= title

div#pack-detail
    p
        span 
            a(href="http://uk.testing1.office.moo.com/create/design.php?uuid=" + pack.packId) Edit Pack
        span#pack-id
            = pack.packId

    p
        span Number of Cards: 
        span#pack-num-cards= pack.pack.numCards

#actions
    a(href="/card/create") Create Card


-console.log(pack)